<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/galeria.css">
    <link rel="stylesheet" href="../css/Normalize.css">
    <link rel="shortcut icon" href="../img/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,200&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f696794974.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title>Galeria de fotos</title>
</head>

<body>
    <header class="header">
        <div class="container header_container ">
            <img class="logo" src="../img/logo.png" alt="" />

            <section class="header_section">

                <img class="header_img_title" src="../img/titulo header.png" alt="">

            </section>
            <nav class="nav">
                <div class="nav__container">
                    <label for="menu" class="nav_label">
                        <img class="nav_menu_hambur" src="/img/menu.svg" alt="">
                    </label>
                    <input type="checkbox" onchange="activar()" id="menu" class="nav_input">

                    <div class="nav__menu">
                        <a class="nav__items nav_items_cta" onclick="desactivar()" href="/views/../index.html">
                            <div class="icons"><i class='bx bxs-home'></i></div>Inicio
                        </a>
                        <a class="nav__items" onclick="desactivar()" href="/views/Admisiones.html">
                            <div class="icons"><i class='bx bx-child'></i></div>Admisiones
                        </a>
                        <a class="nav__items " onclick="desactivar()" href="/views/contacto.html">
                            <div class="icons"><i class='bx bxs-contact'></i></div>Contactame
                        </a>
                        <a id="oculto" class="nav__items" onclick="desactivar()" href="/views/proyecto.html">
                            <div class="icons"><i class='bx bxs-contact'></i></div>Proyecto Institucional
                        </a>
                        <a id="oculto" class="nav__items" onclick="desactivar()" href="/views/Especialidades.html">
                            <div class="icons"><i class='bx bxs-contact'></i></div>Especialidades
                        </a>
                        <a id="oculto" class="nav__items" onclick="desactivar()" href="/views/Normatividad.html">
                            <div class="icons"><i class='bx bxs-contact'></i></div>Normatividad
                        </a>
                        <a id="oculto" class="nav__items" onclick="desactivar()" href="/views/galeria.html">
                            <div class="icons"><i class='bx bxs-contact'></i></div>Galeria de Fotos
                        </a>

                    </div>
                </div>
            </nav>

        </div>
    </header>
    <nav class="nav__menu_option">

        <a class="nav__items_option" id="menu1" href="/views/proyecto.html">Proyecto Institucional</a>
        <a class="nav__items_option" id="menu2" href="/views/Especialidades.html">Especialidades</a>
        <a class="nav__items_option" id="menu3" href="/views/Normatividad.html">Normatividad</a>
        <a class="nav__items_option" id="menu4" href="/views/galeria.html">Galeria de Fotos</a>

    </nav>


    <main class="main" id="main">
        <div id="main_container" class="main_container">

            <div class="full_img" id="fullBox">
                <img src="../img/imgs-gallery/1.jpg" id="fullImg" alt="">
                <span onclick="closeImg()">X</span>
            </div>
            <h1 class="main_title"><span class="title">GALERIA DE FOTOS</span></h1>
            <div class="main_galery">
                <img src="../img/imgs-gallery/1.jpg" onclick="openFullImg(this.src)" alt="">
                <img src="../img/imgs-gallery/2.jpg" onclick="openFullImg(this.src)" alt="">
                <img src="../img/imgs-gallery/3.jpg" onclick="openFullImg(this.src)" alt="">
                <img src="../img/imgs-gallery/4.jpg" onclick="openFullImg(this.src)" alt="">
                <img src="../img/imgs-gallery/5.jpg" onclick="openFullImg(this.src)" alt="">
                <img src="../img/imgs-gallery/6.jpg" onclick="openFullImg(this.src)" alt="">
                <img src="../img/imgs-gallery/7.jpg" onclick="openFullImg(this.src)" alt="">
                <img src="../img/imgs-gallery/8.jpg" onclick="openFullImg(this.src)" alt="">
            </div>
        </div>
    </main>
    <script src="../js/galeria.js"></script>

</body>

<footer>
    <div class="footer_container">
        <img class="footer_background" src="../img/col/domo2.png" alt="">
        <img class="footer_img2" src="../img/ave.png" alt="">
        <div class="footer_icons">
            <img class="footer_img" src="../img/Nube.png" alt="">
            <div class="footer_container_img">
                <a href=""><i class="fab fa-facebook icon"></i></a>
                <a href=""><i class="fab fa-instagram-square icon"></i></a>
                <a href=""><i class="fab fa-linkedin icon"></i></a>
                <a href=""><i class="fas fa-envelope icon"></i></a>
            </div>

        </div>
        <p class="footer_derechos"> ® 2023 Gimnasio La Unión</p>
    </div>
</footer>

</html>